@import 'abstracts/mixins';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// html {
//   box-sizing: border-box;
//   font-size: 80%; //10px/16px = 62.5% i.e 1rem = 10px
// }
html{
  // this is a base setting of what 1rem is.
  font-size: 75%; //1rem = 12px ; 12/16 = 0.75 = 75%;

  @include respond(big-desktop){
    font-size: 80%; // 1rem = 12.8px; 12.8/16= 0.8 = 80%
  }
  @include respond(tab-land){
    font-size: 56.25%; // 1rem = 9px; 9/16= 0.5625 = 56.25%
  }
  @include respond(tab-port){
    font-size: 50%; // 1rem = 8px; 8/16= 0.5 = 50%
  }
  @include respond(phone){
    font-size: 37.5%; //1rem = 6px; 6/16 = 0.375 = 37.5%
  }
}