.card {
  width: 22rem;
  margin: 1rem;
  border: 0px solid black;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 0.6rem 1.8rem -0.9rem rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: block;
}
.card__likes {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
  color: white;
}

.card > img {
  object-fit: fill;
  min-width: 120px;
  max-height: 150px;
  width: 100%;
}

.card__info {
  margin-top: -0.9rem;
  border-radius: 10px;
  padding: 2rem;
  border: 1;

  &--room {
    display: flex;
    font-size: 0.8rem;
    color: rgb(90, 89, 89);
    &-bed {
      display: flex;
      margin-right: 4px;
    }
    &-bath {
      display: flex;
    }
  }
}

.card__info > h3 {
  font-size: 1.3rem;
}
.card__info > h4 {
  font-size: 0.9rem;
  color: rgb(90, 89, 89);
  font-weight: 400;
  margin: 0.8rem 0;
  //   width: 13em;
  //   overflow-wrap: break-word;
}

.card__status {
  border-top: 1px solid rgb(90, 89, 89);
  border-bottom: 1px solid rgb(90, 89, 89);
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0.5rem 0;

  &--finance {
    font-size: 0.8rem;
    color: rgb(90, 89, 89);
  }
  &--finance > span {
    color: greenyellow;
  }
  &--prop {
    font-size: 0.8rem;
    color: rgb(90, 89, 89);
  }
  &--prop > span {
    color: black;
  }
}

.card__check {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-top: 0.5rem;

  &--title {
    display: flex;
  }
  &--title > h4 {
    font-size: 0.7rem;
    padding-right: 2px;
  }
  &--permit {
    display: flex;
  }
  &--permit > h4 {
    font-size: 0.7rem;
    padding-right: 2px;
  }
}

.card__check input[type="checkbox"]:checked {
  background-color: greenyellow !important;
}
