body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* "Br Firma Medium" "Br Firma Bold",*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @font-face {
  font-family: "Br Firma Bold";
  src: url("/BR Firma/BR Firma Bold.otf") format("opentype");
} */

/* @font-face {
  font-family: "Br Firma Medium";
  src: url("/BR Firma/BR Firma Medium.otf") format("opentype");
} */
